<footer>
    <nav>
        <ul>
            <li><a href="/">CLT Gold Mine</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li class="navRight"><a href="https://www.instagram.com/CLTGoldMine/"><img src="/images/instagram.png" alt="Instagram logo" class="footerImage"></a></li>
            <li class="navRight"><a href="https://twitter.com/CLTGoldMine"><img src="/images/twitter.png" alt="Twitter logo" class="footerImage"></a></li>
        </ul>
    </nav>
</footer>

</body>

</html>