<%- include('./partials/header.ejs')%>

    <div class="webpage">
        <h1 class="textCenter">Contact Us</h1>
        <p class="textCenter">Contact us by sending us a message on Twitter or Instagram @CLTGoldMine</p>
        <p class="textCenter">Additionally, you can find us at each and every home Forty-Niner game and event.</p>
        <p class="textCenter">Hope to see you there.</p><br><hr><br>

        <img src="/images/StudentSectionFootball.jpg" alt="Student Section" id="indexImage">
    </div>

<%- include('./partials/footer.ejs')%>