<%- include('./partials/header.ejs')%>

    <div class="webpage">
        <hr><br><h1><%= error.status%></h1>
        <p><%= error.message%></p><br><hr>
    </div>

<%- include('./partials/footer.ejs')%>