<%- include('./partials/header.ejs')%>

    <div class="webpage">
        <h1 class="textCenter">Welcome to the Gold Mine</h1>
        <!-- <p>We are the up and coming student section of your Charlotte 49ers.
            We attend home games of each sport, and would love for you to join us and cheer on our fellow Niners.
        </p> -->
        <p class="textCenter">Check out the Connections section to browse upcoming events and games</p><br><hr><br>

        <img src="/images/StudentSection.jpg" alt="Student Section" id="indexImage">
    </div>

<%- include('./partials/footer.ejs')%>

    