<%- include('../partials/header.ejs')%>

    <div class="webpage">
        <form action = '/users/login' method = 'POST'>
            <table>
                <tr>
                    <td><label for="email">Email Address</label></td>
                    <td><input type="email" id="email" name="email" placeholder="Email" class = "fixed-width" required></td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td><input type="password" id="password" name="password" placeholder="Password" minlength="8" maxlength="64" class = "fixed-width" required></td>
                </tr>
            </table>    
            <input type="submit" value="Login">    
        </form>

    </div>

<%- include('../partials/footer.ejs')%>